---
import Layout from "@/layouts/Layout.astro";
import '@/styles/main.scss';

const className = "goods";
---

<Layout className={className}>

  <div class="layer-text">
    <div class="frame">
      <p class="text"><b>#COMPASS SECRET PARTY 大阪公演<br>開催延期のお知らせ</b><br><br>
        10月12日（土）に梅田クラブクアトロにて予定しております「#COMPASS SECRET PARTY 大阪公演」ですが、大型の台風19号の接近に伴う開催可否についてご来場の皆様の安全を最優先とし慎重に協議を重ねた結果、やむなく開催延期とさせていただきます。<br><br>
        楽しみにしてくださっていた皆様にご迷惑をおかけしてしまうこと、またご案内がイベント開催直前になってしまったこと心より深くお詫び申し上げます。<br><br>
        現在、別日程での振替開催を検討しております。<br>
        どうかお手元のチケットは捨てずに保管をお願い致します。<br>
        振替公演の詳細や払い戻しの対応については決まり次第当イベントHP、<a href="https://twitter.com/cps_offeve" target="_blank">#コンパスオフイベ 公式Twitterアカウント（@cps_offeve）</a>からご案内させていただきます。<br>
        非常に残念ではありますが、何卒ご理解いただけますと幸いです。<br><br>
        お問い合わせ番号:03-3475-9999<br>
        平日 10:00〜18:00（土日・祝祭日休み）</p>
      <p class="btn"><button class="js-btn">[X] 閉じる</button></p>
    </div>
  </div>
  <main>
    <div class="sub-head">
      <p class="logo"><a href="./" class="sub-logo">＃COMPASS SECRET PARTY</a></p>
    </div>

    <div class="goods-sec2">
      <h1 class="ttl1">GOODS</h1>
      <p class="txt1">当日の会場でもお配りしますが、可能な方はリンクよりオーダーシートをダウンロード・印刷していただき、あらかじめ記入したものを当日お渡しいただくと、スムーズにお買い上げいただけます。<br>
        グッズのご購入にはチケットが必要となります。</p>
      <p class="btn1"><a href="./img/ordersheet.pdf" target="_blank" class="btn-sheet">オーダーシート</a></p>
      <ul class="item-list">
        <li>
          <img src="./img/goods_1.jpg" alt="" loading="lazy">
          <p class="name">連結アクリル<br>キーホルダー</p>
          <p class="option">（ver.Party-A）</p>
          <div class="more">
            <p class="price">800円<i>（税込）</i></p>
          </div>
        </li>
        <li>
          <img src="./img/goods_2.jpg" alt="" loading="lazy">
          <p class="name">連結アクリル<br>キーホルダー</p>
          <p class="option">（ver.Party-B）</p>
          <div class="more">
            <p class="price">800円<i>（税込）</i></p>
          </div>
        </li>
        <li>
          <img src="./img/goods_3.jpg" alt="" loading="lazy">
          <p class="name">連結アクリル<br>キーホルダー</p>
          <p class="option">（ver.Party-C）</p>
          <div class="more">
            <p class="price">800円<i>（税込）</i></p>
          </div>
        </li>
        <li>
          <img src="./img/goods_4.jpg" alt="" loading="lazy">
          <p class="name">缶バッジ</p>
          <p class="option">（ver.Party-A）</p>
          <div class="more">
            <p class="price">500円<i>（税込）</i></p>
          </div>
        </li>
        <li>
          <img src="./img/goods_5.jpg" alt="" loading="lazy">
          <p class="name">缶バッジ</p>
          <p class="option">（ver.Party-B）</p>
          <div class="more">
            <p class="price">500円<i>（税込）</i></p>
          </div>
        </li>
        <li>
          <img src="./img/goods_6.jpg" alt="" loading="lazy">
          <p class="name">缶バッジ</p>
          <p class="option">（ver.Party-C）</p>
          <div class="more">
            <p class="price">500円<i>（税込）</i></p>
          </div>
        </li>
        <li>
          <img src="./img/goods_7.jpg" alt="" loading="lazy">
          <p class="name">Voidollメガネ</p>
          <p class="option">（nunettes）</p>
          <div class="more">
            <p class="price">3,500円<i>（税込）</i></p>
          </div>
        </li>
        <li>
          <img src="./img/goods_8.jpg" alt="" loading="lazy">
          <p class="name">コクリコットメガネ</p>
          <p class="option">（nunettes）</p>
          <div class="more">
            <p class="price">3,500円<i>（税込）</i></p>
          </div>
        </li>
        <li>
          <img src="./img/goods_9.jpg" alt="" loading="lazy">
          <p class="name">13 マスク</p>
          <p class="option">（gonoturn）</p>
          <div class="more">
            <p class="price">2,800円<i>（税込）</i></p>
          </div>
        </li>
        <li>
          <img src="./img/goods_10.jpg" alt="" loading="lazy">
          <p class="name">グスタフ マスク</p>
          <p class="option">（gonoturn）</p>
          <div class="more">
            <p class="price">2,800円<i>（税込）</i></p>
          </div>
        </li>
        <li>
          <img src="./img/goods_11.jpg" alt="" loading="lazy">
          <p class="name">#コンパス<br>LEDバングル</p>
          <div class="more">
            <p class="price">1,800円<i>（税込）</i></p>
          </div>
        </li>
        <li>
          <img src="./img/goods_12.jpg" alt="" loading="lazy">
          <p class="name">#コンパス<br>ペンライト＋１</p>
          <div class="more">
            <p class="price">3,500円<i>（税込）</i></p>
          </div>
        </li>
        <li>
          <img src="./img/goods_13.jpg" alt="" loading="lazy">
          <p class="name">アイコン<br>マフラータオルⅡ</p>
          <div class="more">
            <p class="price">1,800円<i>（税込）</i></p>
          </div>
        </li>
        <li>
          <img src="./img/goods_14.jpg" alt="" loading="lazy">
          <p class="name">イベント<br>ホテルキーホルダー</p>
          <div class="more">
            <p class="price">600円<i>（税込）</i></p>
          </div>
        </li>
      </ul>

      <ul class="bnr-list">
        <li><img src="./img/bnr_postcard.png" alt=""></li>
        <li><a href="https://mall.nhn-playart.com/new/2019-10-16-150612.html" target="_blank"><img src="./img/bnr_vv.png" alt=""></a></li>
      </ul>
    </div>

    <section class="ordeinfo_sec">
      <h2 class="ttl1">オーダー方法</h2>
      <p class="txt1">当日のグッズ販売はオーダーシート記入で行います。<br>
        当日の会場でもお配りしますが、可能な方はリンクよりオーダーシートをダウンロード・印刷していただき、あらかじめ記入したものを当日お渡しいただくと、スムーズにお買い上げいただけます。</p>
      <ol class="order-flow">
        <li>
          <figure class="./img"><img src="./img/koma1.png" alt="" loading="lazy"></figure>
          <p class="txt">PC又はスマホからオーダーシートをダウンロードしてください。</p>
        </li>
        <li>
          <figure class="./img"><img src="./img/koma2.png" alt="" loading="lazy"></figure>
          <p class="txt">オーダーシートを印刷してください。コンビニでも印刷できます。</p>
        </li>
        <li>
          <figure class="./img"><img src="./img/koma3.png" alt="" loading="lazy"></figure>
          <p class="txt">ご購入希望の商品の枠内に注文数をご記入ください。</p>
        </li>
        <li>
          <figure class="./img"><img src="./img/koma4.png" alt="" loading="lazy"></figure>
          <p class="txt">イベント当日に物販販売員にお渡しください。</p>
        </li>
      </ol>
      <p class="note">多くのお客様にグッズをご購入いただくため、ご協力宜しくお願い致します。</p>
      <p class="btn1"><a href="./img/ordersheet.pdf" target="_blank" class="btn-sheet">オーダーシート</a></p>
    </section>

    <section class="info-sec2">

      <h2 class="ttl2">TWITTER</h2>
      <div class="tw-widget">
        <a class="twitter-timeline" data-lang="ja" href="https://twitter.com/cps_niconico?ref_src=twsrc%5Etfw" width="100%" height="100%">Tweets by cps_niconico</a>
      </div>

      <p class="bkbtn"><a href="./" class="btn-bkindex">トップに戻る</a></p>
    </section>

    <section class="notice-sec">
      <h2 class="ttl">注意事項</h2>
      <div class="notice-list">
        <div class="block js-toggleNotice">
          <dt>ご来場・会場について<i></i></dt>
          <dd>
            <ul>
              <li>会場及び会場周辺での出待ち・入待ち、徹夜行為は一切禁止とさせていただきます。</li>
              <li>会場内への危険物、法律で禁止されている物の持込みはお断り致します。</li>
              <li>スタッフの指示に従っていただけない場合や、危険な行為とみなされる場合は、イベントにご参加いただけない場合がありますのでご協力お願いします。</li>
              <li>会場周辺には駐車場がございますが、駐車場の数には限りがあります。電車・バスが利用できる会場は、公共交通機関をご利用ください。</li>
              <li>会場内外にて発生した事故、盗難などについて、主催者、会場、出演者、スタッフは一切責任を負いかねます。</li>
              <li>本イベントは各種メディアによる撮影・取材が行われており、撮影された動画・画像は各媒体に使用される場合があります。</li>
              <li>会場内の映像・写真が公開されることがありますので予めご理解の上、ご来場ください。</li>
              <li>差し入れに関してはスタッフの方での受け取りは致しかねます。</li>
              <li>プレゼントボックスについてはご用意する予定ですので当日スタッフにお尋ねください。</li>
              <li>生もの、生き物、保管・保存が困難な差し入れはご遠慮ください。</li>
              <li>また、持ち運びに困難なもの(大きい人形等)もできればご遠慮ください。</li>
              <li>差し入れの際は、どの出演者宛のものかわかるよう、表面のわかりやすい場所に出演者の名前を記載お願い致します。</li>
              <li>郵送による差し入れはご遠慮ください。</li>
              <li>会場内での撮影は一部禁止している場合がございます。スタッフの案内・指示の範囲内で行っていただけますようお願いします。</li>
              <li>会場内にゴミ箱はございませんので、ゴミはお客様各自でお持ち帰りください。</li>
              <li>イベント会場周辺での座りこみはご遠慮ください。</li>
              <li>18歳未満の方は、各自治体の定める「青少年保護育成条例」に従って行動してください。</li>
              <li>地震などの災害が発生した場合は、スタッフの指示や場内放送をよく聞いてください。</li>
              <li>喫煙はご遠慮ください。</li>
              <li>アルコールの販売はございません。</li>
              <li>荷物は会場のクロークをご使用ください。<br>※数に限りがございます。</li>
            </ul>
          </dd>
        </div>
        <div class="block js-toggleNotice">
          <dt>コスプレについて<i></i></dt>
          <dd>
            <ul>
              <li>シークレットパーティーにはコスプレではご参加いただけません。あらかじめご了承ください。</li>
            </ul>
          </dd>
        </div>
        <div class="block js-toggleNotice">
          <dt>グッズ販売について<i></i></dt>
          <dd>
            <ul>
              <li>グッズのご購入にはチケットが必要となります。</li>
              <li>グッズ販売時間等につきましては、追ってこちらのページに掲載させていただきます。</li>
              <li>表示価格は全て税込・会場特別価格です。</li>
              <li>商品の種類・デザイン・内容・価格などは今後変更になる場合がございます。</li>
              <li>掲載の商品画像は開発中のイメージです。</li>
              <li>グッズ購入の列はスタッフの案内に従ってお並びください。</li>
              <li>1アイテムにつきランダム商品はお一人様10点、その他の商品はお一人様4点までご購入いただけます。</li>
              <li>商品は多数ご用意しておりますが、品切れの場合がございます。予めご了承ください。</li>
              <li>商品ご購入後は商品の種類と数量、お釣銭に間違いがないか必ずその場でご確認ください。</li>
              <li>その場を離れてからのお問い合わせについては、お受けできない場合がございます。</li>
              <li>商品不良を除く、ご購入後の交換・返品はお断りしております。</li>
              <li>転売目的でのご利用は固くお断りいたします。</li>
              <li>お支払いは現金でのみとさせていただきます。クレジットカードや商品券等はご使用できません。</li>
            </ul>
          </dd>
        </div>
      </div>
    </section>

    <div class="social-sec">
      <a href="#" class="btn-gotop js-scroll">上に戻る</a>
      <h3 class="ttl">SHARE</h3>
      <ul class="snsBtns">
        <li><a href="http://www.facebook.com/share.php?u=https://app.nhn-playart.com/compass/event/secretparty2019/index.nhn" class="btnFb" onclick="window.open(this.href, 'FBwindow', 'width=570, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;">facebook</a>
        </li>
        <li><a href="http://twitter.com/share?url=https://app.nhn-playart.com/compass/event/secretparty2019/index.nhn&text=DJ%e3%80%81dance%e3%80%81band%e3%80%81goods%20%23%e3%82%b3%e3%83%b3%e3%83%91%e3%82%b9%e3%81%8c%e3%81%8a%e9%80%81%e3%82%8a%e3%81%99%e3%82%8bmusic%e3%81%a7%e6%ba%a2%e3%82%8c%e3%82%8b%e7%a9%ba%e9%96%93%e3%82%92%e6%80%9d%e3%81%86%e5%ad%98%e5%88%86%e6%a5%bd%e3%81%97%e3%82%82%e3%81%86%ef%bc%81" class="btnTw" onclick="window.open(this.href, 'TWwindow', 'width=570, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;">twitter</a></li>
      </ul>
    </div>
  </main>

  <div class="entry-bar">
    <a href="https://eplus.jp/compass-of/" target="_blank" class="btn">チケット購入はこちら</a>
  </div>

</Layout>