---
const { className } = Astro.props;
---

<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# section: http://ogp.me/ns/website#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>test</title>

  <meta name="format-detection" content="telephone=no">
  <meta name="robots" content="noindex, nofollow">
  <!-- <meta name="keywords" content="＃COMPASS SECRET PARTY,#コンパス シークレットパーティー,コンパス,compass,戦闘摂理解析システム,MOBA,ニコニコスマホ,ボカロP,リアルタイムオンライン対戦,スマートフォンゲーム,スマホゲーム,無料ゲーム,ゲームアプリ,iPhone,Android,Amazon,対戦,チームバトル"> -->
  <!-- <meta name="description" content="DJ、dance、band、goods#コンパスがお送りするmusicで溢れる空間を思う存分楽しもう！"> -->
  <!-- Facebook:OG -->
  <!-- <meta property="og:title" content="＃COMPASS SECRET PARTY｜#コンパス 戦闘摂理解析システム">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://app.nhn-playart.com/compass/event/secretparty2019/index.nhn">
  <meta property="og:image" content="img/og.jpg">
  <meta property="og:site_name" content="＃COMPASS SECRET PARTY｜#コンパス 戦闘摂理解析システム">
  <meta property="og:description" content="DJ、dance、band、goods#コンパスがお送りするmusicで溢れる空間を思う存分楽しもう！">
  <meta property="og:locale" content="ja_JP"> -->
  <!-- twitter:card -->
  <!-- <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="＃COMPASS SECRET PARTY｜#コンパス 戦闘摂理解析システム">
  <meta name="twitter:description" content="DJ、dance、band、goods#コンパスがお送りするmusicで溢れる空間を思う存分楽しもう！">
  <meta name=“twitter:image:src” content="img/og.jpg"> -->

  <link rel="apple-touch-icon-precomposed" href="//s.nhn-playart.com/smartgame/spn/games/compass/common/img/bookmark.png">
  <link rel="shortcut icon" href="//s.nhn-playart.com/smartgame/spn/games/compass/common/img/favicon.ico">

	<script is:inline src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" />
  <script is:inline async src="/js/main.js" charset="utf-8" />
  <script is:inline async src="https://platform.twitter.com/widgets.js" charset="utf-8" defer />
  <!-- <script is:inline>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-85703015-1', 'auto');
    ga('send', 'pageview');
  </script> -->
</head>
<body class={className}>

    <slot />

 <!-- cmps-footer -->
  <footer class="cmps-footer">
    <div class="official"><a href="https://app.nhn-playart.com/compass/" target="_blank" class="btn_official">#コンパス公式サイト</a></div>
    <div class="others">
      <ul class="list">
        <li><a href="https://mall.nhn-playart.com/" target="_blank" class="btn_mart">#コンパスマート</a></li>
        <li><a href="https://app.nhn-playart.com/compass/e-sponavi/" target="_blank" class="btn_sponavi">eすぽなび</a></li>
        <li><a href="http://ch.nicovideo.jp/compass-niconico" target="_blank" class="btn_niconico">ニコニコチャンネル</a></li>
      </ul>
    </div>
    <div class="copyright">
      <div class="mainTtl"><a href="https://app.nhn-playart.com/compass/support/index.nhn" target="_blank">お問い合わせ</a></div>
      <ul class="logo">
        <li><i class="logo_pa">NHN PlayArt</i></li>
        <li><i class="logo_nico">niconico</i></li>
      </ul>
      <ul class="text">
        <li><small>&copy; NHN PlayArt Corp.</small></li>
        <li><small>&copy; DWANGO Co., Ltd.</small></li>
      </ul>
    </div>
  </footer>

  <div id="mq"></div>
</body>

</html>
